<ul class="recipe-list">
  {% for filename, recipe in site.data.recipes %}
    <li class="recipe-item">
      <a href="{{ site.baseurl }}{{ recipe.link }}">
        <img src="{{ recipe.image }}" alt="{{ recipe.recipe_name }}" style="width:150px; height:auto;">
        <h2>{{ recipe.recipe_name }}</h2>
      </a>
      <p>{{ recipe.short_description }}</p>
      <p><strong>Tags:</strong>
        {% for tag in recipe.tags %}
          <span>{{ tag }}</span>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </p>
    </li>
  {% endfor %}
</ul>
